<div title="Posts">
	<div class="page-header">
		<h3>
			<a href="{{vm.post.link}}" ng-show="vm.post.link">
				{{vm.post.title}}
			</a>
			<span ng-hide="vm.post.title">
				{{vm.post.title}}
			</span>
		</h3>
	</div>

	<div ng-repeat="comment in vm.post.comments | orderBy: '-upvotes'">
		<span class="glyphicon glyphicon-thumbs-up" ng-click="vm.upvoteComment(vm.post, comment)">
			{{comment.upvotes}} - by {{comment.author}}
			<span style="font-size:20px; margin-left: 10px;">
				{{comment.body}}
			</span>
		</span>
	</div>

	<form ng-submit="vm.addComment(vm.post)"
		style="margin-top:30px;">
		<h3>Add a new comment</h3>
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="Author" ng-model="vm.author"></input>
		</div>		
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="Comment" ng-model="vm.comment"></input>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>
</div>